/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf/meripseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for AWS Batch environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // AWS parameters
    awsqueue                   = 'aws-batch-nigms-JobQueue'
    awsregion                  = 'us-east-1'
    awsworkdir                 = 's3://aws-batch-nigms-batch-bucket-/nextflow_env/'
    outdir                     = 's3://aws-batch-nigms-batch-bucket-/nextflow_output/'
    awscli_path                = '/home/ec2-user/anaconda3/bin/aws'
    aws_execrole               = 'ExecutionRole'
}

profiles {
    awsbatch{
          process { 
              executor = 'awsbatch'
              queue = params.awsqueue
              container = 'quay.io/nf-core/ubuntu:22.04'
          }
          workDir = params.awsworkdir
          outdir = params.outdir
          fusion.enabled = true
          wave.enabled = true

          // Give path to where aws is installed 
          aws.batch.cliPath = params.awscli_path
          aws {
                region  =  params.awsregion // Specify the region for AWS Batch
          }
    }
}

