params {
    aligner = 'star'
    //max_cpus = 4  // Cap all processes to 4 CPUs
    //max_memory = '16.GB'  // Adjust as needed
    //max_time = '24.h'     // Adjust as needed
    // ... other params ...
}

process { 
    withName: TRIMGALORE {
        label = 'process_low'
        cpus = 4
        memory = '4.GB'
        time = '4.h'
    }
    withName: SAMTOOLS_SORT {
        label = 'process_low'
        cpus = 4
        memory = '12.GB'
        time = '4.h'
    }
    withName: STAR_GENOMEGENERATE {
        label = 'process_low'  // Override to process_low
        cpus = 4  // Static value, no check_max
        memory = '4.GB'
        time = '4.h'
    }
    withName: STAR_ALIGN {
        label = 'process_low'
        cpus = 4  // Static value, no check_max
        memory = '4.GB'
        time = '4.h'
        ext.args = '--readFilesCommand zcat --outFilterMultimapNmax 10 --outFilterMismatchNmax 2'
    }
    withName: RSEM_PREPAREREFERENCE {
        cpus = 4  // Static value, no check_max
        memory = '12.GB'
        time = '4.h'
    }
     withName: RSEM_FROMALIGNMENT {
        cpus = 4  // Static value, no check_max
        memory = '12.GB'
        time = '4.h'
    }
    withName: MACS3_CALLPEAK {
        cpus = 4  // Static value, no check_max
        memory = '12.GB'
        time = '24.h'
    }
    withName: PICARD_MERGESAMFILES {
        cpus = 4  // Static value, no check_max
        memory = '12.GB'
        time = '24.h'
    }
    withName: FRIP_SCORE {
        cpus = 4  // Static value, no check_max
        memory = '12.GB'
        time = '24.h'
    }

    withName: HOMER_ANNOTATEPEAKS {
        cpus = 4  // Static value, no check_max
        memory = '12.GB'
        time = '24.h'
    }

    withName: FASTQC {
        cpus = 4
        memory = '2.GB'
        time = '2.h'
    }
    withName: PREPARE_GENOME {
        label = 'process_low'
        cpus = 4
        memory = '16.GB'
        time = '12.h'
    }
    withName: MULTIQC {
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
}
